
header {
    background-color: #B8D8D8;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #7A9E9F;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7A9E9F;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 200px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#div-header {
    text-align: center;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin: 0;
    color: #D88C9A;
}

.div-carta {
    height: 100%;
}

.carta {
    height: 100%;
    background-color: #4F6367;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    padding: 10px;
}

footer {
    height: 50px;
    background-color: #B8D8D8;
    margin-top: 50px;
    align-self: center;
    vertical-align: bottom;
}