
* {
    transition: all 0.5s;
}

header {
    background-color: #B8D8D8;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #7A9E9F;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7A9E9F;
}

img {
    height: 92%;
    width: 92%;
    border-radius: 12px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-auto-rows: 150px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#div-header {
    text-align: center;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin: 0;
    color: #D88C9A;
}

.div-carta, .carta, .cara {
    cursor: pointer;
    height: 150px;
    width: 150px;
}

.carta {
    position: relative;
    transform-style: preserve-3d;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    color: white;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.frontal {
    background-color: #0F0424;
}

.trasera {
    background-color: #0f042454;
    transform: rotateY(180deg);
}

#select{
    background-color: #B8D8D8;
    margin-top: 50px;
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#button-container{
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-auto-rows: 50px;
    column-gap: 25%;
    justify-content: center;
    margin-bottom: 20px;
}
.modos{
    background-color: #7A9E9F;
    color: #B8D8D8;
    font-size: large;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
