#div-header{
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.div-carta {
    height: 100%;
}

.carta {
    height: 100%;
    border-radius: 10px;
}